/* goole fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans';
}
/* primary-btn  */
.primary-btn{
    padding: 20px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    outline: 0;
}


/* header section css starts  */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo h1{
    font-size: 45px;
    font-weight: 700;
}
.nav-contents{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 32px;
}
.nav-contents li{
    list-style: none;
}
.nav-contents li a, .follow-us-btn a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.gamer-g{
    color: #ff42a5;
}
.follow-us-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
}
.fa-youtube{
    color: red;
    font-size:30px; 
}
.fa-tiktok{
    font-size:30px; 
}
/* header section css ends  */


/* banner section css starts  */
.banner-section{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size:65%;
}
.banner-container{
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.banner-content> h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-content> h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom:24px;
}
.banner-content >ul li{
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 17px;
}
.banner-content >ul{
    margin-bottom: 41px;
}
.banner-img img{
    width: 100%;
}
.blue-btn{
    background: #4EC5F7;
    margin-left: 20px;
}
.fa-download, .fa-circle-play{
    color: #fca0d2;
    margin-right: 12px;
}
.fa-user-group{
    margin-right: 12px;
}
/* banner section css ends  */


/* gamer section css starts  */
.gamer-container{
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-section{
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0px;
}
.gammer-content{
    text-align: right;
}
.gammer-content > h1{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}
.gammer-content > p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
.gammer-content > h2{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}
.gammer-content > h4{
    color: #534C64;
    margin-top: 24px;
}
.gamer-img img{
    width: 800px;
}
/* gamer section css ends  */



/* carrer section css starts */
.carrers-section{ 
    background-color: #ff42a5;
    background-image: url("images/Group\ 65.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size:54%;
}
.carrers-container{
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    height:630px;
}
.carrers-content{
    margin-left: 50px;
    width: 50%;
}
.carrers-content >h1{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}
.carrers-content >p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    text-align: justify;
    margin-bottom: 32px;
    margin-top: 32px;
}
.side-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px; 
}
.right-side-text{
    text-align: right;
}
.other{
    margin-top: 40px;
    border-radius: 48px;
    background: #FFF;
    color: #F948B2;
}

/* carrer section css ends*/
















/* =================responsive design ======================= */

/*===================== moblile devices======================  */

/* header sectin responsive css */
@media screen and (max-width:576px) {
    
/* common style  */
    nav,
    .nav-contents,
    .gamer-section
    {
        flex-direction: column;
    }

/* nav section css  */
    nav,
    .nav-contents{
        gap: 62px;
    }

/* banner section css  */
    .banner-container{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .banner-section{
        background-position: left bottom;
        background-size:100%;
    }
    .banner-img img{
        width: 100%;
    }


/* gamer section css  */
    .gamer-img img{
        width:100%;
    }
    .gammer-content{
        text-align: center;
        padding: 0 20px;
    }

    .carrers-section{
        background-size: 80%;
        
        background-position-y: 900px;
        background-position-x:center ;
    }
    .carrers-section{
        margin: 200px 0px;
        padding-bottom:100px;
        padding-top: 100px;
    }
    .carrers-container{
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: left;
       
       
    }
    .carrers-content{
        width:80%;
        align-items: center;
        margin-left: 0;
    }
}

